body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
}
/* #region header */

.page-header {
    border-bottom: 1px solid var(--cornflower);
}
.header-container {
    display: flex;
    align-items: center;
}
.header {
    display: flex;
    align-items: center;
}
.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}
.logo {
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 18px;
   line-height: 21px;
   text-transform: uppercase;
   color: #4d5ae5 ;
   line-height: 1.17;
   letter-spacing: 0.03em;
   
}
span {
    color: #2e2f42;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
.head-text {
    color: #2E2F42;
    font-weight: 500;
    font-style: medium;
    font-size: 16px;
    letter-spacing: 2%;
    display: flex;
    align-items: center;
    gap: 40px;

}
.a-studio {
    display: block;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #2e2f42;
     padding: 24px 0;
}
a:hover, a:focus {
    color: #404bbf;
}
.address {
    font-style: normal;
    margin-left: auto;
}
.emeil {
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: #434455;
 padding: 24px 0;
 display: block;
}

.head-list {
     font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: #434455;
 gap: 40px;


 padding: 24px 0;
 margin: 940px;
}
a:hover, a:focus {
    color: #404bbf ;
}


/* #endregion header */

/* #region section1 */

.main-section {
    background-color: #2E2F42;
}
.main-head {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    font-style: bold;
    line-height: 1.07;
    text-align: center;
    margin: 0 auto;
    padding: 188px 192px;
}
.button {
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-style: medium;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    margin: 0 auto;
    padding: 356px 188px;
}

button:hover, button:focus {
    background-color: #404BBF;
}


/* #endregion section1 */

/* #region section2 */
.step {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    font-style: medium;
}
.step-p {
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.02em;
   color: #434455;
}

/* #endregion section2 */

/* #region section3 */
.our-team-section {
    background-color: #F4F4FD;
}
.our-team-title {
   font-weight: 700;
   font-size: 36px;
   line-height: 40px;
   letter-spacing: 0.02em;
   color: #2E2F42;
   font-style: bold;
   line-height: 1.11;
   text-align: center;
   text-transform: capitalize 
}


.our-team-list {
background-color: #FFFFFF;
}
.our-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    font-style: medium;
}

.our-team-description {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endregion section3 */

/* #region section4 */

.our-portfolio-title {
    font-weight: 700;
    font-style: bold;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
}

.our-portfolio {
    font-weight: 500;
    font-style: medium;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.our-portfolio-discription {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endregion section4 */

/* #region futter */
.footer {
background-color: #2E2F42;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    line-height: 1.17;
}

.span-footer {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    color: #F4F4FD;
}

.footer-paragraph {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}


/* #endregion futter */


.container { 
max-width: 1158px;
padding: 0 15px  ; 
margin: auto;
}