body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
}
img {
    display: block;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
 }
/* #region header */

.page-header {
    border-bottom: 1px solid #e7e9fc
}
.header-container {
    display: flex;
    align-items: center;
}
.header {
    display: flex;
    align-items: center;
    width: 1158px;
}
.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}
.logo {
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 18px;
   line-height: 21px;
   text-transform: uppercase;
   color: #4d5ae5 ;
   line-height: 1.17;
   letter-spacing: 0.03em;
   
}
span {
    color: #2e2f42;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
.head-text {
    color: #2E2F42;
    font-weight: 500;
    font-style: medium;
    font-size: 16px;
    letter-spacing: 2%;
    display: flex;
    align-items: center;
    gap: 40px;

}
.a-studio {
    display: block;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #2e2f42;
     padding: 24px 0;
}
a:hover, a:focus {
    color: #404bbf;
}
.address {
    font-style: normal;
 
}
.emeil {
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: #434455;
 padding: 24px 0;
 display: inline-block;
}

.head-list {
     font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: #434455;
   display: flex;
   align-items: center;
 padding: 24px 0;
  gap: 40px;
  margin-left: 332px;
 
}
a:hover, a:focus {
    color: #404bbf ;
}


/* #endregion header */

/* #region section1 */
.main-section { 
    background-color: #2E2F42;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 188px 0;
}
.main-head {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    font-style: bold;
    line-height: 1.07; 
    margin-bottom: 48px;
    margin-top: 188px;
    max-width: 496px;
    
}
.button {
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-style: medium;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    border-style: none;
    margin-bottom: 188px;
    display: block;
    min-width: 169px;
    height: 56px;
    
    
}

button:hover, button:focus {
    background-color: #404BBF;
} 
/* #endregion section1 */

/* #region section2 */
.info-section {
    padding: 120px 0;
}
.visually-hidden {
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 white-space: nowrap;
 clip-path: inset(100%);
 clip: rect(0 0 0 0);
 overflow: hidden;
}
.step {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    font-style: medium;
    width: calc((100% - (3 * 24px)) / 4);
    width: 264px;
    margin-bottom: 8px;

}
.step-p {
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.02em;
   color: #434455;
}
.section-info {
    display: flex;
    padding: 120px 156px;
    align-items: baseline;
    gap: 24px;
    align-items: center;
    display: flex;
}
.li-info-section {
    width: calc((100% - 72px) / 4);
}

/* #endregion section2 */

/* #region section3 */
.our-team-section {
    background-color: #F4F4FD;
    display: block;
     padding: 120px 0;
}
.our-team-title {
   font-weight: 700;
   font-size: 36px;
   line-height: 40px;
   letter-spacing: 0.02em;
   color: #2E2F42;
   font-style: bold;
   line-height: 1.11;
   text-align: center;
   text-transform: capitalize;
   padding-top: 120px;
   display: block; 
   margin-bottom: 72px; 
   
}


.our-team-list {
background-color: #FFFFFF;
width: calc((100% - 72px) / 4);
border-radius: 0px 0px 4px 4px;
}
.papa-container {
    padding: 32px 0;
}
.our-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    font-style: medium;
    text-align: center;
    margin-bottom: 8px;
}

.our-team-description {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center; 
}
.our-team-block {
    display: flex;
    align-items: center;
     gap: 24px;
}
/* #endregion section3 */

/* #region section4 */

.our-portfolio-title {
    font-weight: 700;
    font-style: bold;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    line-height: 1.11; 
    text-transform: capitalize;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 72px;

}

.our-portfolio { 
    font-weight: 500;
    font-style: medium;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding: 32px 226px 8px 16px;
    margin-bottom: 8px
}

.our-portfolio-discription {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 0px 314px 32px 16px;
 }
    .our-portfolio-block {
    display: flex;
    align-items: center; 
    border-radius: 0 0 4px 4px;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    
}
.li-portfolio {
   width: calc((100% - 48px) / 3);
} 
.li-border {
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.our-portfolio-block {
    padding-top: 120px; 
}
.portfolio-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none; 
}
/* #endregion section4 */

/* #region futter */
.footer {
background-color: #2E2F42;
padding: 100px 0;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    line-height: 1.17;
    display: inline-block; 
    margin-bottom: 16px;
}

.span-footer {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    color: #F4F4FD;
}

.footer-paragraph {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    width: 264px;
    margin-top: 16px;
}
.footer-block {
    padding: 100px 1020px 100px 156px;
}


/* #endregion futter */


 